{
  "root": true,
  "ignorePatterns": ["*.js.flow"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "jest", "react-hooks"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "@typescript-eslint/no-explicit-any": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  },
  "env": {
    "jest/globals": true
  }
}
